.reports {
  padding: 16px;
  max-width: 1320px;

  @media (max-width: 1024px) {
    max-width: 100%;
  }
  
  &__nav {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    color: #99a2bb;
    @extend %title-10;
    font-weight: 400;

    & > :last-child {
      font-weight: 500;
      padding: 4px 8px;
      background: #c4ffc7;
      border-radius: 4px;
      color: #03380d;
      text-transform: capitalize;
    }
  }

  &__title {
    @extend %title-30;
    font-weight: 500;
    color: rgba(16, 24, 40, 1);
    margin-bottom: 8px;
  }

  &__tabs {
    height: 46px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 2px rgba(173, 173, 173, 0.25);
    background: rgba(249, 249, 249, 1);
    border-radius: 8px;
    margin-bottom: 8px;

    @media (max-width: 1024px) {
      overflow-x: auto;
    }

    & > div {
      @extend %title-14;
      font-weight: 500;
      color: rgba(102, 112, 133, 1);
      padding: 0 12px;
      height: 100%;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;

      & > span {
        @extend %title-12;
        min-width: 24px;
        height: 24px;
        background: rgba(194, 241, 196, 1);
        font-weight: 500;
        color: rgba(0, 155, 7, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__active {
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);

      box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
      background: rgba(0, 155, 7, 1);
      color: rgba(255, 255, 255, 1) !important;
    }
  }

  &__inner {
    width: 100%;
    // height: 800px;
    overflow-y: auto;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 236, 240, 1);

    &__filter {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 0 24px;
      height: 61px;

      &__filter {
        width: 74px;
        height: 37px;
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid rgba(99, 115, 129, 1);
        font-size: 14px;
        font-weight: 400;
        color: rgba(99, 115, 129, 1);
        padding: 0 8px;
        border-radius: 4px;
      }

      &__date {
        display: flex;
        align-items: center;
        gap: 20px;
          height: 40px;

        &__input {
          @extend %title-14;
          width: fit-content;
          height: 100%;
          font-weight: 400;
          color: rgba(99, 115, 129, 1);
          background: rgba(250, 250, 250, 1);
          padding: 0 10px;
          border-radius: 4px;
          border: 1px solid rgba(219, 219, 219, 1);
          display: flex;
          align-items: center;
          gap: 8px;

          & > input {
            border: none;
            height: 100%;
            border: none;
            background: transparent;
          }
        }

      }

      & > select {
        @extend %title-14;
        width: 100%;
        height: 37px;
        border-radius: 4px;
        font-weight: 400;
        color: rgba(99, 115, 129, 1);
        max-width: 315px;
        border: 1px solid rgba(219, 219, 219, 1);
        background: rgba(250, 250, 250, 1);
      }

      & > button {
        @extend %primary-button;
        min-width: 136px;
      }
    }

    &__subtitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 0 24px;

      @media (max-width: $tablet) {
        flex-direction: column;
        gap: 16px;
      }
      & > :first-child {
        @extend %title-24;
        font-weight: 500;
        color: rgba(16, 24, 40, 1);
      }

      & > :last-child {
        display: flex;
        align-items: center;
        gap: 16px;

        & > :first-child {
          @extend %title-14;
          display: flex;
          align-items: center;
          gap: 12px;
          font-weight: 500;
          color: #009b07;
          border: none;
          background: #d9ffdb;
          padding: 10px 20px;
          border-radius: 8px;
        }

        & > :last-child {
          @extend %create-button;
          padding: 0 20px;
        }
      }
    }

    &__chart {
      width: 100%;
      max-width: 798px;
      height: 599px;
      border: 1px solid rgba(0, 155, 7, 1);
      box-shadow: 20px 20px 100px 0px rgba(202, 202, 202, 0.31);
      background: var(--UniversalPalette-fill-bg, rgba(255, 255, 255, 1));
      padding: 24px 59px;
      border-radius: 24px;
      padding-bottom: 59px;
      margin: auto;

      &__title {
        @extend %title-10;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: -20px;
      }
    }

    &__tables {
      display: flex;
      align-items: start;
      overflow-x: auto;
    }

    &__table {
      width: fit-content;
      &__main-header {
        @extend %title-16;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        width: 100%;
        height: 38px;
        background: rgba(16, 42, 56, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba(228, 228, 228, 1);
        border-bottom: 0.5px solid rgba(228, 228, 228, 1);
        text-transform: uppercase;
      }
      &__header {
        @extend %title-12;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        height: 56px;
        display: flex;
        background: rgba(16, 42, 56, 1);

        & > div {
          border-right: 1px solid rgba(228, 228, 228, 1);
          display: flex;
          align-items: center;
          padding: 0 16px;
          text-transform: uppercase;
        }
      }

      &__body {
        &__inner {
          @extend %title-14;
          font-weight: 500;
          color: rgba(16, 24, 40, 1);
          height: 56px;
          display: flex;
          align-items: center;

          & > div {
            display: flex;
            align-items: center;
            padding: 0 16px;
            border-right: 1px solid rgba(234, 236, 240, 1);
            border-bottom: 1px solid rgba(234, 236, 240, 1);
            word-break: break-all;
            height: 100%;

            & > button {
                width: fit-content;
                height: fit-content;
                padding: 10px;
                border-radius: 20px;
                border: none;
                font-size: 10px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                white-space: nowrap;
              }
          }

  
          &__in-legal {
            background: rgba(0, 155, 7, 1);
          }
  
          &__kiv {
            background: rgba(177, 190, 209, 1);
          }
          &__rejected-for {
            background: rgba(186, 0, 0, 1);
          }
          &__under-investigation {
            background: rgba(68, 154, 255, 1);
          }
          &__transferred-to {
            background: rgba(53, 87, 205, 1);
          }
          &__awaiting-legal-advice {
            background: rgba(249, 160, 0, 1);
          }
          &__closed {
            background: rgba(36, 161, 153, 1);
          }
          &__discontinued-without-merit {
            background: rgba(186, 0, 0, 1);
          }
          &__in-lock-up {
            background: rgba(53, 87, 205, 1);
          }
  

          & > :nth-child(2) {
            font-weight: 400 !important;
            color: rgba(102, 112, 133, 1) !important;
          }
        }
      }

      &__xtra-small {
        width: 70px;
      }
      &__small {
        width: 109px;
      }
      &__large {
        width: 160px;
      }
      &__xtra-large {
        width: 182px;
      }
      &__center {
        justify-content: center;
        text-align: center
      }
      &__bold {
        @extend %title-14;
        color: rgba(16, 24, 40, 1) !important;
        font-weight: 500 !important;
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68px;
        padding: 0 24px;

        & > button {
          @extend %trans-button;
          display: flex;
          align-items: center;
          gap: 8px;
          width: fit-content;
          padding: 8px 14px;
        }
      }
    }

    &__investigation-table {
      .reports__inner__table__body__inner {
        @extend %title-12;
        font-weight: 400;
        color: rgba(102, 112, 133, 1);
        grid-template-columns: 56px 109px 160px 109px 109px;
      }
    }
    }
}
