.reports-home {
  padding: 16px;
  max-width: 1320px;

  @media (max-width: 1024px) {
    max-width: 100%;
  }
  
  &__nav {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    color: #99a2bb;
    @extend %title-10;
    font-weight: 400;

    & > :last-child {
      font-weight: 500;
      padding: 4px 8px;
      background: #c4ffc7;
      border-radius: 4px;
      color: #03380d;
      text-transform: capitalize;
    }
  }

  &__title {
    @extend %title-30;
    font-weight: 500;
    color: rgba(16, 24, 40, 1);
    margin-bottom: 16px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 19px;
    padding: 0 16px;

    & > div {
      @extend %title-14;
      font-weight: 500;
      height: 36px;
      padding: 0 12px;
      width: fit-content;
      color: rgba(102, 112, 133, 1);
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__active {
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);

box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
background: rgba(255, 255, 255, 1);
border-radius: 6px;
color: #009B07 !important;
    }
  }

  &__subtitle {
    @extend %title-20;
    font-weight: 500;
    color: rgba(16, 24, 40, 1);
    margin-bottom: 23px;
  }

  &__cards {
    display: flex;
    align-items: start;
    gap: 20px;
    margin-bottom: 49px;
    

    &__card {
      position: relative;
      padding: 21px 19px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      height: 160px;
      width: 314px;
      box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);

  
      &__title {
        @extend %title-14;
        font-weight: 400;
        color: rgba(30, 32, 41, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      &__stats-green {
        color: rgba(0, 155, 7, 1) !important;
        margin-bottom: 8px;


        & > span {
          @extend %title-14;
          font-weight: 300 !important;
          color: rgba(0, 155, 7, 1) !important;

        }
      }

      &__subtitle {
        @extend %title-12;
        font-weight: 500;
        color: rgba(141, 141, 141, 1);
      }
  
      &__dropdown {
        @extend %title-10;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        gap: 4px;
      }
  
      &__stats {
        @extend %title-24;
        font-weight: 700;
        color: rgba(30, 32, 41, 1);
      }
  
      &__trend {
        @extend %title-14;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 7.57px;
        margin-top: 23px;
      }

      &__svg {
        position: absolute;
        top: 43px;
        left: 0;
      }
    }

  }

  &__charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    &__chart {
      position: relative;
      width: 100%;
      height: 444px;
      border: 1px solid rgba(226, 234, 248, 1);
      border-radius: 16px;
      padding: 25px 17px;
      background: rgba(255, 255, 255, 1);

      &__title {
        @extend %title-20;
        font-weight: 500;
        margin-bottom: 21px;
      }

      &__subtitle {
        @extend %title-12;
        font-weight: 400;
        color: rgba(113, 142, 191, 1);
      }

      &__pie {
        display: flex;
        align-items: center;
        gap: 40px;
        & >:first-child {
          position: relative;
        width: 164px;
        height: 164px;
        margin-top: 31px;
        margin-bottom: 25px;
        }

        &__group {
          @extend %title-12;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);
          display: flex;
          align-items: center;
          gap: 11px;
          margin-bottom: 6px;
        }
      }

      &__pie-title {
        @extend %title-22;
        font-weight: 700;
        margin-bottom: 25px;
        color: rgba(0, 0, 0, 1);
      }
      &__pie-subtitle {
        @extend %title-14;
        font-weight: 500;
        margin-bottom: 6px;
        color: rgba(0, 0, 0, 1);
      }

      &__pie-preview {
        @extend %title-28;
        font-weight: 700;
        display: flex;
        gap: 10px;

        & > :first-child {
          & > svg {
            margin-left: -12px;
          }

          & > :first-child {
            margin-left: 0 !important;
          }
        }
      }

      &__alt-group {
        position: absolute;
        top: 44px;
        right: 23px;
        &__group {
          @extend %title-14;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);
          display: flex;
          align-items: center;
          gap: 11px;
          margin-bottom: 10px;
        }
      }
    }

    &__cases {
      position: relative;
      width: 100%;
      height: 444px;
      border: 1px solid rgba(226, 234, 248, 1);
      border-radius: 16px;
      padding: 18px;
      background: rgba(255, 255, 255, 1);

      &__group {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 12px;

        & > select {
          @extend %title-16;
          font-weight: 400;
          border: none;
          outline: none;
        }
      }

      &__flex {
        display: flex;
        align-items: start;
        gap: 20px;
      }

      &__title {
        @extend %title-10;
        font-weight: 500;
        color: rgba(255, 0, 0, 1);
        margin-bottom: 8px;
      }
      &__subtitle {
        @extend %title-14;
        font-weight: 700;
        color: rgba(29, 41, 57, 1);
        margin-bottom: 8px;

        & > span {
          @extend %title-24;
          font-weight: 700;
        }
      }

      &__table {
        width: 100%;
        border: 1px solid rgba(225, 225, 225, 1);
        border-radius: 16px;

        &__header {
          @extend %title-12;
          font-weight: 500;
          height: 36px;
          border-bottom: 1px solid rgba(234, 236, 240, 1);
          background: rgba(249, 250, 251, 1);
          color: rgba(102, 112, 133, 1);
          border-radius: 16px 16px 0 0;

          display: grid;
          grid-template-columns: 1.59fr 1fr 1fr 1fr;

          & > div {
            display: flex;
            align-items: center;
            padding-left: 12px;
          }

        }

        &__body {
          @extend %title-14;
          font-weight: 700;
          height: 56px;
          border-bottom: 1px solid rgba(234, 236, 240, 1);
          color: rgba(16, 24, 40, 1);

          display: grid;
          grid-template-columns: 1.59fr 1fr 1fr 1fr;

          & > div {
            display: flex;
            align-items: center;
            padding-left: 12px;
            gap: 12px;
          }

         
        }


        & >:last-child {
          border-radius: 0 0 16px 16px
        }

      }
      &__button {
        @extend %title-12;
        font-weight: 400;
        width: 74px;
        height: 26px;
        background: rgba(219, 255, 221, 1);
        color: rgba(0, 155, 7, 1);
        text-align: center;
        border-radius: 4px;
        border: none;
        margin: 12px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__svg {
        position: absolute;
        top: 17px;
        left: 0;
      }
    }
  }

}