.fav-cases {
    width: 100%;
    border-radius: var(--8, 8px);
    border: 1px solid var(--Gray-200, #eaecf0);
    background: var(--Color, #fff);
    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
      0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  
    margin-bottom: 50px;
  
    &__header {
      width: 100%;
      height: 89px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
  
      &__title {
        @extend %title-24;
        color: var(--Gray-900, #101828);
  
        font-weight: 500;
      }
  
    }
  
    &__actions {
      width: 100%;
      height: 97px;
      border-radius: var(--4, 4px);
      border: 1px solid #e6e6e6;
      box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
      padding: 0 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
  
      &__input {
        width: 100%;
        max-width: 418px;
        height: 49px;
        border-radius: var(--4, 4px);
        border: 1px solid #f6f6f6;
        background: #fafafa;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0 14px;
  
        & > input,
        select {
          @extend %title-14;
          font-weight: 400;
  
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          background: none;
          padding: 14px;
          color: #637381;
  
          &::placeholder {
            color: #637381;
          }
        }
      }
  
      &__filters {
        @extend %title-14;
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--Style, #033132);
        font-weight: 600;
        padding: 0 12px;
      }
    }
  
    &__body {
      height: auto;
      // overflow-y: auto;
      max-width: 100%;
      overflow-x: scroll;
  
      &::-webkit-scrollbar {
        display: none;
      }
  
      .fav-cases-table {
        width: 100%;
        border-collapse: collapse;
  
        thead {
          tr {
            th {
              padding: 12px 24px;
              background-color: #f8f9fa;
              border-top: 1px solid #e6e6e6;
              border-bottom: 1px solid #e6e6e6;
              text-align: start;
              font-size: 12px;
            }
  
            .user-flex {
              display: flex;
              align-items: center;
              // justify-content: space-between;
              gap: 8px;
            }
          }
        }
  
        tbody {
          tr {
            td {
              padding: 20px 24px;
              border-top: 1px solid #e6e6e6;
              border-bottom: 1px solid #e6e6e6;
  
              .user-info {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 600;
                color: #101828;
                gap: 8px;
  
                h2 {
                  color: #101828;
                  font-size: 14px;
                  font-weight: 500;
                }
  
                svg {
                  cursor: pointer;
                }
              }
  
              .case-status {
                width: 115px;
                font-size: 12px;
                padding: 8px 12px;
                background-color: #E2E2E2;
                color: #040407;
                border-radius: 20px;
                text-align: center;
              }
  
              .status {
                font-size: 12px;
      
                &.on-bail {
                  padding: 8px 31px;
                  background-color: #EEF4FF;
                  color: #3538CD;
                  border-radius: 8px;
                  font-weight: 500;
                }
  
                &.in-custody {
                  padding: 8px 20px;
                  background-color: rgba(255, 138, 0, 0.14);
                  color: #FF8A00;
                  border-radius: 8px;
                }
  
                &.convicted {
                  padding: 8px 22px;
                  background-color: rgba(184, 0, 0, 0.12);
                  color: #B80000;
                  border-radius: 8px;
                }
  
                &.discharged {
                  padding: 8px 18px;
                  background-color: rgba(0, 156, 7, 0.12);
                  color: #009B07;
                  border-radius: 8px;
                }
                &.deceased {
                  padding: 8px 23px;
                  background-color: #E2E2E2;
                  color: #040407;
                  border-radius: 8px;
                }
              }
  
              .offence-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
  
                .offence-icons {
                  display: flex;
                  align-items: center;
                  gap: 32px;
                  padding: 0 5px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  
    &__footer {
      // position: absolute;
      // bottom: 0;
      // left: 0;
      @extend %title-16;
      font-weight: 500;
      width: 100%;
      height: 59px;
      color: #667085;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      // background: var(--Gray-50, #f9fafb);
      border: 1px solid var(--Gray-200, #eaecf0);
      border-radius: 0 0 12px 12px;
  
      &__nav {
        width: fit-content;
        height: 36px;
        padding: 0 14px;
        @extend %title-14;
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--Gray-700, #344054);
        border-radius: 8px;
        border: 1px solid var(--Gray-300, #d0d5dd);
        background: var(--White, #fff);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      }
  
      &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 62px;
        @extend %title-16;
        font-weight: 400;
        color: #9fa2b4;
  
        &__rows {
          & > select {
            width: fit-content;
            color: #4b506d;
            border: none;
            outline: none;
          }
        }
  
        &__pages {
          display: flex;
          align-items: center;
          gap: 24px;
  
          & > :last-child {
            display: flex;
            gap: 12px;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      &__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 147px;
  
        &__filters {
          display: none;
        }
      }
  
      &__body {
        
        .fav-cases-table {
  
          thead {
            tr {
              .user-flex {
                font-size: 10px;
              }
            }
          }
  
          tbody {
  
            td {
              font-size: 10px;
  
              .user-info {
                font-size: 10px;
              }
  
            }
          }
        }
      }
    }
  
  
  }
  