.dashboard-home {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto 448px;
    height: 100%;
    overflow-y: auto;

  
    &__card1 {
      width: 100%;
      padding: 24px 40px 32px 24px;
      &__title-group {
        display: flex;
        align-items: start;
        margin-bottom: 16px;
        gap: 175px;
        &__title {
          @extend %title-40;
        }

        &__button {
          @extend %create-button;
          min-width: 301px;
          height: 64px;
          font-size: 20px;
        }
      }

      &__subtitle {
        @extend %title-20;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 24px;

        span {
          font-weight: 500;
          color: #7f7f7f;
        }
      }

      &__stats {
        width: 100%;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 32px;

        &__card {
          width: 237.5px;
          height: 185px;
          border-radius: 18.75px;
          background: #e5ecf6;
          padding: 16px 32px;

          &:last-child {
            background: #cd0000;

            .dashboard-home__card1__stats__card__title {
              color: #fff;
            }
            .dashboard-home__card1__stats__card__subtitle-group {
              & > :first-child {
                color: #fff;
              }
            }
          }

          &__title {
            @extend %title-14;
            color: #1c1c1c;
            font-weight: 400;
            margin-bottom: 16px;
          }

          &__subtitle-group {
            display: flex;
            justify-content: space-between;
            & > :first-child {
              color: #1c1c1c;
              font-size: 28.126px;
              font-weight: 600;
              // letter-spacing: 2px;
            }

            & > :last-child {
              display: flex;
              align-items: center;
              color: #1c1c1c;
              font-size: 14.063px;
              font-weight: 400;
              gap: 4.69px;
            }
          }
        }

        &__card-unassigned {
          .dashboard-home__card1__stats__card__title {
            color: #ba0000;
          }
          .dashboard-home__card1__stats__card__subtitle-group {
            & > :first-child,
            & > :last-child {
              color: #ba0000;
            }
          }
        }
      }

      &__agency-stats {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        &__card {
          width: 237.75px;
          height: 123px;
          border-radius: 18.75px;
          padding: 18px 32px;
          background: #e5ffba;

          &__title-group {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            font-weight: 500;
            color: #1c1c1c;
            margin-bottom: 20px;
          }

          &__subtitle {
            color: #1c1c1c;
            font-size: 28.126px;
            font-weight: 600;
          }
        }

        &__card-max {
          width: 322.33px;
        }
      }
    }

    &__card2 {
      width: 100%;
      padding: 9px 16px;
      background: #eef6fb;

      &__chat {
        width: 100%;
        height: 585px;
        border-radius: 10px;
        background: #fff;
        padding: 12px 8px;
        margin-bottom: 7px;

        &__title-group {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 48px;
          border-radius: 6px;
          background: #f6fafd;
          padding: 0 13px;

          & > :first-child {
            color: #092c4c;
            @extend %title-18;
          }

          & > :last-child {
            @extend %title-14;
            color: #514ef3;
          }
        }
        &__user-card {
          cursor: pointer;
          &__inner {
            display: flex;
            align-items: start;
            padding: 12px;
            height: 72px;
            padding: 12px;

            &__img {
              border-radius: 50%;
              margin-right: 16px;
            }

            &__title-group {
              margin-right: 12px;
              & > :first-child {
                @extend %title-14;
                color: #000;
                margin-bottom: 5px;

                & > span {
                  font-weight: 700;
                }
              }
              & > :last-child {
                @extend %title-12;
                color: rgba(0, 0, 0, 0.4);
              }
            }

            &__timestamp {
              @extend %title-14;
              color: rgba(0, 0, 0, 0.4);
            }
          }

          &__chats {
            display: none;
            flex-direction: column;
            gap: 10px;
            padding: 16px;
            height: 191px;
            overflow-y: auto;
            &__received {
              align-self: end;
              width: fit-content;
              // display: flex;
              // flex-direction: column;
              // align-items: start;
              &__inner {
                @extend %title-16;
                font-weight: 400;
                line-height: 24px;
                max-width: 270px;
                min-height: 68px;
                border-radius: 10px 0px 10px 10px;
                background: #4629f2;
                padding: 10px 15px;
                color: #fff;
                margin-bottom: 5px;
              }
              &__timestamp {
                @extend %title-14;
                font-weight: 400;
                color: rgba(13, 8, 44, 0.4);
              }
            }
            &__sent {
              width: fit-content;
              // display: flex;
              // flex-direction: column;
              // align-items: start;
              &__inner {
                @extend %title-16;
                font-weight: 400;
                line-height: 24px;
                max-width: 270px;
                min-height: 68px;
                border-radius: 10px 0px 10px 10px;
                background: #009b07;
                padding: 10px 15px;
                color: #fff;
                margin-bottom: 5px;
              }
              &__timestamp {
                @extend %title-14;
                font-weight: 400;
                color: rgba(13, 8, 44, 0.4);
              }
            }
          }

          &__form {
            height: 80px;
            width: 100%;
            border-top: 1px solid #9ca0fa;
            padding: 0 30px;
            display: none;
            align-items: center;

            & > :first-child {
            }

            & > input {
              height: 100%;
              padding-left: 20px;
              border: none;
              outline: none;
            }

            &__send {
              min-width: 40px;
              height: 40px;
              border-radius: 50%;
              background: #4629f2;
              margin-left: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        &__user-card-active {
          border: 1px solid #9ca0fa;
          border-radius: 16px 16px 8px 8px;

          .dashboard-home__card2__chat__user-card__inner {
            background: #e9f8ff;
            border-radius: 16px;
            border-bottom: 1px solid #9ca0fa;
            background: #e9f8ff;
          }

          .dashboard-home__card2__chat__user-card__chats,
          .dashboard-home__card2__chat__user-card__form {
            display: flex;
          }
        }
      }

      &__task {
        width: 100%;
        min-height: 283.96px;
        border-radius: 10px;
        background: #fff;
        background: #F6FAFD;

        &__title-group {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 87.48px;
          border-radius: 6px;
          padding: 0 26px;

          & > :first-child {
            color: #092c4c;
            @extend %title-18;
          }

          & > :last-child {
            @extend %title-14;
            color: #514ef3;
          }
        }

        &__card {
        display: flex;
        align-items: center;
        color: #FE8084;
font-size: 15.702px;
font-weight: 400;
gap: 11.22px;
height: 57.2px;
padding: 0 26px;


& > span {
color: #092C4C;
}
        }

        &__add {
        width: 100%;
        height: 69.54px;
        border-radius: 0 0 10px 10px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 26px;
        margin-top: 13px;
        cursor: pointer;
        }
      }
    }
  }