.dashboard {

  max-width: 1600px;
  width: 100%;
  margin: auto;
  

  &__inner {
    // position: relative;

    display: flex;
    align-items: start;
    // height: 86vh;

    &__img {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

  }
}
