.departments {
  width: 100%;
  border-radius: var(--8, 8px);
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Color, #fff);
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);

  &__header {
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;

    &__title {
      color: var(--Gray-900, #101828);

      @extend %title-18;
      font-weight: 500;
    }

    &__button {
      @extend %create-button;
      border-radius: 8px;
    }
  }

  &__actions {
    width: 100%;
    height: 97px;
    border-radius: var(--4, 4px);
    border: 1px solid #eaeaea;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &__input {
      width: 100%;
      max-width: 418px;
      height: 49px;
      border-radius: var(--4, 4px);
      border: 1px solid #f6f6f6;
      background: #fafafa;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 0 14px;

      & > input,
      select {
        @extend %title-14;
        font-weight: 400;

        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background: none;
        padding: 14px;

        &::placeholder {
          color: #637381;
        }
      }
    }

    &__filters {
      @extend %title-14;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--Style, #033132);
      font-weight: 600;
      padding: 0 12px;
    }

    &__button {
      @extend %primary-button;
      width: 75px;
      height: 49px;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }

  &__heading {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid var(--Gray-200, #eaecf0);
    background: var(--Gray-50, #f9fafb);
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
    padding: 0 24px;

    & > div {
      @extend %title-12;
      width: 100%;
      color: var(--Gray-500, #667085);
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }
  &__body {
    height: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    &__inner {
      width: 100%;
      height: 72px;
      border-bottom: 1px solid var(--Gray-200, #eaecf0);
      background: var(--Gray-50, #fff);
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
      padding: 0 24px;
      cursor: pointer;

      & > div {
        @extend %title-14;
        width: 100%;
        color: var(--Gray-500, #667085);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 4px;
        white-space: nowrap;
      }

      & > :first-child {
        color: #101828;
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }

  &__footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    @extend %title-16;
    font-weight: 500;
    width: 100%;
    height: 59px;
    color: #667085;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: var(--Gray-50, #f9fafb);
    border: 1px solid var(--Gray-200, #eaecf0);
    border-radius: 0 0 12px 12px;

    &__nav {
      width: fit-content;
      height: 36px;
      padding: 0 14px;
      @extend %title-14;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--Gray-700, #344054);
      border-radius: 8px;
      border: 1px solid var(--Gray-300, #d0d5dd);
      background: var(--White, #fff);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }

    &__pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 62px;
      @extend %title-16;
      font-weight: 400;
      color: #9fa2b4;

      &__rows {
        & > select {
          width: fit-content;
          color: #4b506d;
          border: none;
          outline: none;
        }
      }

      &__pages {
        display: flex;
        align-items: center;
        gap: 24px;

        & > :last-child {
          display: flex;
          gap: 12px;
        }
      }
    }
  }

  &__details-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    // z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__details-modal2 {
    z-index: 1;
  }

  &__details {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    // max-width: 1272px;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    padding-bottom: 80px;

    &::-webkit-scrollbar {
      display: none;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      height: 80px;
      border-bottom: 1px solid #eaeef4;
      margin-bottom: 56.5px;

      & > :first-child {
        @extend %title-18;
        display: flex;
        align-items: center;
        gap: 24px;
        color: var(--Primary-Black, #061b2e);
        font-weight: 700;
      }

      & > :last-child {
        display: flex;
        gap: 8px;
      }
    }

    &__body {
      padding: 0 32px;

      &__dept-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        &__info {
          &__title {
            @extend %title-14;
            color: var(--Grey-Grey-75, #7e92a2);
            font-weight: 400;
            margin-bottom: 16px;
          }

          &__group {
            display: flex;
            align-items: start;
            gap: 8px;

            & > :nth-child(even) {
              & > :first-child {
                @extend %title-24;
                color: var(--Gray-900, #101828);
                font-weight: 500;
                margin-bottom: 8px;
              }

              & > :last-child {
                @extend %title-16;
                color: var(--Gray-500, #667085);
                font-weight: 400;
              }
            }

            & > :last-child {
              @extend %title-16;
              color: var(--Gray-500, #667085);

              font-weight: 400;
            }
          }
        }

        &__button {
          @extend %title-14;
          width: 112px;
          height: 36px;
          border-radius: 8px;
          background: rgba(0, 155, 7, 0.27);
          color: #009b07;
          text-align: center;

          border: none;
          outline: none;
        }
      }

      &__stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        height: 127px;
        border-radius: 8px;
        background: #f4f9fd;
        padding: 0 33px;
        margin-bottom: 32px;

        & > :first-child {
          & > :last-child {
            font-weight: 400;
          }
        }

        & > div {
          & > :first-child {
            color: var(--Grey-Grey-75, #7e92a2);
            @extend %title-16;
            font-weight: 400;
            margin-bottom: 8px;
          }

          & > :last-child {
            color: var(--Primary-Black, #061b2e);
            @extend %title-16;
            font-weight: 600;
          }
        }
      }

      &__members {
        &__title {
          color: var(--Gray-900, #101828);
          @extend %title-18;
          font-weight: 500;
          margin-bottom: 16px;
        }

        &__table {
          background: green;
          border-radius: var(--4, 4px);
          border: 1px solid #eaeaea;
          background: var(--Color, #fff);
          box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
          padding-top: 27px;
          max-width: 100%;
          overflow-x: scroll;

          &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 0 22px;

            & > :first-child {
              color: var(--Gray-900, #101828);
              @extend %title-18;
              font-weight: 500;
            }
            & > :last-child {
              @extend %create-button;
              max-width: 239px;
              border-radius: 8px;
            }
          }

          &__cards {
            display: flex;
            gap: 16px;
            overflow-x: auto;
            padding: 18px 22px;
            border-bottom: 1px solid #eaeaea;
            border-radius: 4px;

            &::-webkit-scrollbar {
              display: none;
            }

            &__card {
              border-radius: 17px;
              border: 1px solid #cddae4;
              background: var(--Color, #fff);
              min-width: 507px;
              height: 155px;
              padding: 29px 22px 25px 22px;
              cursor: pointer;

              &__title {
                color: #292d32;
                @extend %title-24;
                font-weight: 600;
                margin-bottom: 23px;
              }

              &__info {
                display: flex;
                align-items: start;
                justify-content: space-between;

                & > :first-child {
                  & > :first-child {
                    color: var(--Grey-Grey-75, #7e92a2);
                    @extend %title-14;
                    font-weight: 400;
                    margin-bottom: 8px;
                  }

                  & > :last-child {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    @extend %title-16;
                    color: var(--Gray-500, #667085);

                    font-weight: 400;

                    & > :nth-child(even) {
                      color: var(--Gray-900, #101828);
                      font-weight: 500;
                    }
                  }
                }

                & > :last-child {
                  & > :first-child {
                    color: var(--Grey-Grey-75, #7e92a2);
                    @extend %title-14;
                    font-weight: 400;
                    margin-bottom: 8px;
                  }

                  & > :last-child {
                    @extend %title-16;
                    font-style: normal;
                    font-weight: 600;
                    text-align: end;
                  }
                }
              }
            }

            &__card-active {
              border: 1px solid #009b07;
              background: #f6fff6;
            }
          }

          &__parameters {
            border-radius: var(--4, 4px);
            border: 1px solid #eaeaea;
            background: var(--Color, #fff);
            box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
            width: 100%;
            height: 97px;
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 0 22px;

            &__input {
              width: 100%;
              max-width: 222.75px;
              height: 49px;
              border-radius: var(--4, 4px);
              border: 1px solid #f6f6f6;
              background: #fafafa;
              display: flex;
              align-items: center;
              gap: 16px;
              padding: 0 14px;

              & > input,
              select {
                @extend %title-14;
                font-weight: 400;

                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                background: none;
                // padding: 14px;

                &::placeholder {
                  color: #637381;
                }
              }
            }

            &__filters {
              @extend %title-14;
              display: flex;
              align-items: center;
              gap: 8px;
              color: var(--Style, #033132);
              font-weight: 600;
              padding: 0 12px;
            }

            &__button {
              @extend %primary-button;
              width: 75px;
              height: 49px;
              font-size: 14px;
              font-weight: 500;
              margin: 0;
            }
          }

          &__parameters-search {
            border-radius: var(--4, 4px);
            border: 1px solid #eaeaea;
            background: var(--Color, #fff);
            box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
            width: 100%;
            height: 97px;
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 0 22px;
            justify-content: space-between;

            &__filled {
              display: flex;
              align-items: center;
              white-space: nowrap;

              & > :first-child {
                color: var(--Gray-900, #101828);
                @extend %title-18;
                font-weight: 500;
                margin-right: 8px;
              }
              & > :nth-child(even) {
                @extend %title-12;
                background: var(--Primary-50, #f9f5ff);
                color: var(--Primary-700, #6941c6);
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px 8px;
                border-radius: 16px;
                margin-right: 16px;
              }

              & > button {
                @extend %create-button;
                border-radius: 8px;
                width: 123px;
                max-width: 123px;
                height: 40px;
              }
            }

            &__filters {
              @extend %title-14;
              display: flex;
              align-items: center;
              gap: 8px;
              color: var(--Style, #033132);
              font-weight: 600;
              padding: 0 12px;
            }
          }

          &__heading {
            width: 100%;
            height: 44px;
            border-bottom: 1px solid var(--Gray-200, #eaecf0);
            background: var(--Gray-50, #f9fafb);
            display: grid;
            grid-template-columns: 2.4fr 1fr 1fr 2.4fr;

            & > :first-child {
              gap: 12px;
            }

            & > div {
              @extend %title-12;
              width: 100%;
              color: var(--Gray-500, #667085);
              font-weight: 500;
              display: flex;
              align-items: center;
              gap: 4px;
              white-space: nowrap;
              margin-bottom: 0;
              padding: 0 15.5px;
            }

            &__center {
              justify-content: center;
            }

            & > :last-child {
              // background: yellow;
            }
          }
          &__body {
            height: 400px;
            overflow-y: auto;

            &::-webkit-scrollbar {
              display: none;
            }
            &__inner {
              position: relative;
              width: 100%;
              height: 72px;
              border-bottom: 1px solid var(--Gray-200, #eaecf0);
              background: var(--Gray-50, #fff);
              display: grid;
              grid-template-columns: 2.4fr 1fr 1fr 2.4fr;

              & > div {
                @extend %title-14;
                width: 100%;
                color: var(--Gray-500, #667085);
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 4px;
                white-space: nowrap;
                padding: 0 15.5px;
              }

              & > :first-child {
                color: #101828;
                display: flex;
                align-items: center;
                gap: 12px;

                & > :last-child {
                  & > :last-child {
                    color: var(--Gray-500, #667085);
                    font-weight: 400;
                    margin-top: 4px;
                  }
                }
              }

              &__center {
                justify-content: center;
              }

              &__title {
                padding: 0 28px !important;
              }

              &__actions {
                position: absolute;
                width: fit-content !important;
                display: flex;
                align-items: center;
                gap: 4px;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                padding: 16px !important;
              }
            }
          }

          &__footer {
            // position: absolute;
            // bottom: 0;
            // left: 0;
            @extend %title-16;
            font-weight: 500;
            width: 100%;
            height: 59px;
            color: #667085;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
            background: var(--Gray-50, #f9fafb);
            border: 1px solid var(--Gray-200, #eaecf0);
            border-radius: 0 0 12px 12px;

            &__nav {
              width: fit-content;
              height: 36px;
              padding: 0 14px;
              @extend %title-14;
              display: flex;
              align-items: center;
              gap: 8px;
              color: var(--Gray-700, #344054);
              border-radius: 8px;
              border: 1px solid var(--Gray-300, #d0d5dd);
              background: var(--White, #fff);
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }

            &__pagination {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              gap: 62px;
              @extend %title-16;
              font-weight: 400;
              color: #9fa2b4;

              &__rows {
                & > select {
                  width: fit-content;
                  color: #4b506d;
                  border: none;
                  outline: none;
                }
              }

              &__pages {
                display: flex;
                align-items: center;
                gap: 24px;

                & > :last-child {
                  display: flex;
                  gap: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__new-dept {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 621px;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    padding-bottom: 80px;
    z-index: 2;

    &::-webkit-scrollbar {
      display: none;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      height: 80px;
      border-bottom: 1px solid #eaeef4;

      & > :first-child {
        @extend %title-18;
        display: flex;
        align-items: center;
        gap: 24px;
        color: var(--Primary-Black, #061b2e);
        font-weight: 700;
      }

      & > :last-child {
        display: flex;
        gap: 8px;
      }
    }

    &__form {
      padding: 23px 56px;

      &__label {
        margin-bottom: 6px;
      }

      &__input {
        @extend %normal-input;
        max-width: 100%;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 14px;

        & > input {
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
        }
      }

      &__textarea {
        height: 128px;
        padding: 14px;
      }

      &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px;

        & > :first-child {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      &__options {
        display: flex;
        align-items: center;
        gap: 13px;
        margin-bottom: 24px;

        & > div {
          border: 1px solid var(--Gray-300, #d0d5dd);
          width: 162px;
          height: 51px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          color: var(--Gray-900, #101828);
          @extend %title-16;
          font-weight: 500;
          cursor: pointer;
        }

        &__active {
          border: 1px solid #009b07 !important;
          background: rgba(0, 155, 7, 0.09);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }
      }

      &__subdept {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        margin-top: -15px;
        margin-bottom: 24px;

        & > div {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 4px;
          border-radius: 8px;
          background: #e7e7e7;
          height: 36px;

          color: #2c2c2c;
          text-align: center;

          @extend %title-14;
          font-weight: 500;
          padding: 8px 6px;
        }
      }

      &__button {
        @extend %primary-button;
        width: 100%;
        margin-top: 40px;
      }
    }
  }

  @media (max-width: 768px) {
    &__actions {
      padding: 0 12px;

      &__filters {
        display: none;
      }

      &__button {
        width: 45px;
        height: 39px;
        font-size: 12px;
      }
    }

    &__heading {
      padding: 0 12px;

      & > div {
        gap: 2px;
      }
    }

    &__body {
      // display: grid;
      // grid-template-columns: 1fr;
      height: auto;

      &__inner {
        padding: 0 12px;
        

        & > div {
          margin-right: 12px;
        }
      }
    }

    &__new-dept {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr; 
      
      &__form {
        padding: 12px 23px;
      }
    }

    &__details {
      width: 100%;

      &__header {
        padding: 0 12px;

        & > :first-child {
          gap: 12px;
          font-size: 12px;
        }
      }

      &__body {
        &__dept-head {
          &__info {
            &__group {
              gap: 4px;

              .info-pic {
                width: 38px;
                height: 38px;
                margin-right: 4px;
              }

              & > :nth-child(even) {
                & > :first-child {
                  font-size: 14px;
                }

                & > :last-child {
                  font-size: 12px;
                }
              }

              & > :last-child {
                font-size: 12px;
              }
            }
          }

          &__button {
            width: 62px;
          }
        }

        &__stats {
          padding: 0 22px;
        }

        &__members {
          &__table {
            &__title {
              padding: 0 12px;

              & > :last-child {
                font-size: 0;
                max-width: 39px;
                height: 39px;
              }
            }

            &__parameters {
              display: grid;
              grid-template-columns: 1fr 1fr;
              height: 127px;

              &__input {
                height: 39px;
              }

              &__filters,
              &__button {
                display: none;
              }
            }

            &__parameters-search {
              padding: 0 12px;
              gap: 8px;

              &__filled {
                & > button {
                  font-size: 0;
                  width: 49px;
                  max-width: 49px;
                  height: 29px;
                }

                & > :first-child {
                  margin-right: 4px;
                }
                & > :nth-child(even) {
                  margin-right: 8px;
                }
              }

              &__filters {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
