.admin {
  max-width: 1600px;
  width: 100%;
  margin: auto;

  &__inner {
    // position: relative;
    background-color: #fff;

    display: flex;
    align-items: start;
    // height: 86vh;

    &__img {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &__main {
      padding: 20px 50px;
      width: 100%;

      &__nav {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;

        color: #99a2bb;
        @extend %title-10;
        font-weight: 400;

        & > :last-child {
          font-weight: 500;
          padding: 4px 8px;
          background: #c4ffc7;
          border-radius: 4px;
          color: #03380d;
          text-transform: capitalize;
        }
      }

      &__title {
        color: var(--Gray-900, #101828);

        @extend %title-30;
        font-weight: 500;
        margin-bottom: 24px;
      }

      &__tabs {
        display: flex;
        gap: 16px;
        border-bottom: 1px solid #eaecf0;
        width: 100%;
        max-width: 1064px;
        margin: 37px;

        &__item {
          color: var(--Gray-500, #667085);
          @extend %title-14;
          font-weight: 500;
          height: 38px;
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;

          &__badge {
            @extend %title-12;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--Gray-700, #344054);
            font-weight: 500;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #f2f4f7;
          }
        }

        &__active {
          color: var(--Green-50, #24a148) !important;
          border-bottom: 2px solid #24a148;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__inner {
      &__main {
        padding: 20px;

        &__title {
          font-size: 16px;
        }

        &__tabs {
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // gap: 4px;
          // margin: 18.5px 9.25px;
          margin: 0 0 20px 0;
          overflow-x: auto;

          &__item {
            white-space: nowrap;
          }
        }
      }
      
    }
  }
}
