label {
  display: block;
  color: #344054;
  font-size: 14px;
  font-weight: 500;
}




%normal-input {
    width: 100%;
  max-width: 360px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  padding-left: 14px;
  font-size: 16px;
  color: #667085;

  &::placeholder {
    color: #667085;
  }
}

%case-input {
  height: 50px;

        width: 100%;
        border-radius: 8px;
        border: 1px solid #eaeef4;
        background: #FFF;
        padding-left: 20px;
        color: #7E92A2;
}


%otp-input-italics::placeholder {

}
