.adminDashboard-sidebar {
  border-left: 1px solid #eaeef4;
  border-right: 1px solid #eaeef4;
  background: #f7fbfe;
  height: 100vh;

  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  gap: 16px;
  transition: 0.4s;

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    cursor: pointer;
    padding: 10px 0 ;


    & > :first-child {
      min-width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--Grey-Grey-30, #eaeef4);
    display: flex;
    align-items: center;
    justify-content: center;

    // &:hover {
    //   background: #514EF3;
       
    //   & > svg {
    //     & > path {
    //       fill: #FFF;
    //     }
    //   }
    // }
    }


    &__title {
      // font-size: 10px;
      font-weight: 500;
      display: none;
      white-space: nowrap;
    }


    &:hover {
      background: #DCFFDE;
      border-radius: 6px;

      color: #009B07;
      
    }
 
  }

  &__item-active {

      & > :first-child {
        background: #DCFFDE;

      }
  }


  
  &:hover {
    width: 300px;

   .adminDashboard-sidebar__item__title{
     display: initial;
    }
    .adminDashboard-sidebar__item{
      padding: 10px 14px;

    }
    .adminDashboard-sidebar__item-active{
      background: #DCFFDE;
      border-radius: 6px;

      color: #009B07;
    }
  }

 
}