.footer {
  background: rgba(255, 255, 245, 1);
  margin-top: 10rem;
  &__inner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 446px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 80px 40px;

   &__card {
    &__logo {
        font-size: 4.1rem;
        font-weight: 900;
        color: rgba(36, 35, 35, 1);
        margin-bottom: 3.6rem;
      }
  
      &__subtitle {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 4rem;
      }
  
      &__social-group {
          display: flex;
          align-items: center;
          gap: 18px;
      }

      &__title {
        color: rgba(36, 35, 35, 1);
        //styleName: Desktop Sub-header/Bold 24px;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
      }

      &__link{
font-size: 1.6rem;
font-weight: 500;
margin-bottom: 4.6rem;
color: rgba(36, 35, 35, 1);

      }

      &__input {
        width: 100%;
        max-width: 400px;
        height: 56px;
        border-radius: 40px;
        padding-left: 16px;
        border: 1px solid rgba(153, 153, 153, 1);
        background: rgba(248, 248, 248, 1);
        margin-bottom: 1.4rem;
      }

      &__button {
        @extend %primary-button;
        width: 150px;
        height: 48px;
        margin: 0;
      }
   }
  }
}
